
.note-codable {
    display:none;
}
.note-help {
    display:none;
}
.note-insert {
    display:none;
}
.note-view {
    display:none;
}

.note-toolbar {
    padding-bottom: 30px;
}

 #report_content{
  font-family: 'Roboto';
}







